<style file=text/css>
	h5{color:blue;}
	table,th, td
	{
	width:250px;
	border: 1px solid white;
	}
	p,ol,li{color:black;}
</style>

<h1> What's Noobskoop all about? </h1>
<p> 
Through Noobskoop, we aim to create an online community to make your Skule experience a little easier by aiding you in selecting courses/areas to study. 
Contributing upper years will provide varied and detailed bios for the various courses that are offered in 3rd and 4th year ECE. 
You can ask specific questions about this as well as study online with others on Noobskoop. 

Sign up for free today! 
</p>


<h2>About us</br></h2>
<br>
We are 3rd year Electrical/Computer Engineering Students at University of Toronto. 

<br>
<h3> Co-Founders .. blah </h3>
<h4> Mohammad W. Ahmed </h4>
<table>
<tr>
<td>
<h6><img src="images/wasi.jpg" > &nbsp;</h6></td>

<td><h6>	<a href = "http://mwahmed.heroku.com">MWAhmed.heroku.com</a> <br> Email:wasi.cjr@gmail.com</h6></td>
</tr>
</table>
<h3> Spandan Bemby </h3>


<h3> Anurag Chaudhury </h3>


<h3> Ayush Kulkarni </h3>



 

