</br>
<h1>Welcome To</h1>
</br>
<h2> <span></span><a href=/> NoobSkoop! </a></h2>
<p> 

Hi! Thanks for checking out Noobskoop! 

From personal experience,  we know  that  Engineering at U of T can be quite painful. The work never seems to end with labs, 
assignments and midterms eating into precious sleep time, not to mention the added confusion of selecting courses and 
areas to major in with very little knowledge about any of them. But, with a little help from your friends in upper years, 
this process can be made easier. <br>Need more info course content? Or, info about the “interestingness”, difficulty or 
relevance of courses to your career goals? Or, helpful, course-specific study strategies? Then check out the ECE community on Noobskoop,
where you can get all this info, from a student’s perspective. 

Having been through the same situations, we realize the importance of advice from upper year students and how it can make certain decisions a lot easier to make. 
Thus, our goal here is to create a supportive online community for ECEs who you can turn to for advice. Feel free to give us your suggestions to make Noobskoop better serve your needs. 

ECE FTW :D 

</p>

<h3> Feedback/Suggestions? visit <a href=/contactus> here </a></h3>
</br>
</br>
<%= link_to "Sign up now!", sign_up_path, :class=>"signup_button round" %>
</br>

